.ajouter-reglement__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

section.ajouter-reglement__form {
  position: relative;
  padding: 30px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: unset;
  height: 100%;
}

.ajouter-reglement__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ajouter-reglement__form input#montant,
.ajouter-reglement__form select {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  width: 100%;
}

input.invalid,
select.invalid {
  border: 1px solid red;
}

.ajouter-reglement__text-info {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ajouter-reglement__number-info {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ajouter-reglement__text-info > div,
.ajouter-reglement__number-info > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  flex: 1;
}

.ajouter-reglement__cheque-infos {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ajouter-reglement__cheque-infos > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  flex: 1;
}

.ajouter-reglement__cheque-infos > div > input {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

.ajouter-reglement__parametre-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

hr {
  height: 1px;
  width: 100%;
  background-color: #d1d5db;
}

.ajouter-reglement__add-date,
.ajouter-reglement__non-versbale,
.ajouter-reglement__commentaire {
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-number__container {
  display: flex;
  align-items: center;
  background-color: rgba(10, 171, 205, 1);
  border-radius: 6px;
  border: 1px solid rgba(10, 171, 205, 1);
  width: 100%;
}

.input-number__container p {
  color: white;
  padding: 10px;
}

.input-number {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
}

.ajouter-reglement__commentaire {
  height: fit-content;
  gap: 40px;
}

.ajouter-reglement-label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.ajouter-reglement__commentaire textarea {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  flex: 1;
  min-width: 200px;
}

.ajouter-reglement__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 7%;
  width: 100%;
  border-radius: 0 0 6px 6px;
  background-color: rgba(249, 250, 251, 1);
  font-weight: 500;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #d1d5db;
}

.ajouter-reglement__footer > button {
  margin-right: 20px;
}
