.resume-recette__container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.resume-recette_wrapper {
  padding: 20px;
}

.resume-recette__container h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.resume-recette__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-recette__highlight-text {
  display: flex;
  background-color: lightgrey;
  width: fit-content;
  gap: 5px;
  align-items: center;
  padding: 5px 10px;
  border-radius: 6px;
  color: white;
}

.green {
  color: rgba(0, 128, 0, 1);
  background-color: rgba(0, 128, 0, 0.08);
}

.yellow {
  color: rgba(255, 165, 0, 1);
  background-color: rgba(255, 165, 0, 0.08);
}

.resume-recette-total span {
  font-weight: 500;
  font-size: 14px;
  float: right;
  color: rgba(107, 114, 128, 1);
  margin-bottom: 5px;
}

.resume-recette-total p {
  font-size: 40px;
  font-weight: 600;
  line-height: 36px;
  text-align: right;
}

.resume-recette__button-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: rgba(249, 250, 251, 1);
  border-radius: 0 0 6px 6px;
}
